<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | Locked</title>

    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/assets/serve/favicon-192.png">

    <!--css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/styles/login.css">

    <!--js-->
    <script defer src="/assets/scripts/build/build.js"></script>
</head>

<body>
<section id="login-content">
    <div class="container">
        <img src="/assets/images/lock.png" width="300">

        <div id="login-error-notification" class="notification hidden"></div>

        <h3 class="title is-4">Login</h3>
        <form id="login-form">
            <label class="label">Username:</label>
            <input class="input" name="username" required><br>
            <label class="label">Password:</label>
            <input class="input" type="password" name="password" required><br>
            <input id="login-btn" class="button" type="submit" value="Login" hidden>
        </form>
    </div>
</section>
</body>

</html>