<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{block "title" .}}{{end}}</title>

    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/static/srv/favicon-192.png">

    <!--css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
    <link rel="stylesheet" href="/static/style/base.css">
</head>

<body>
<!--nav bar-->
<nav class="nav has-shadow">
    <div class="nav-left">
        <a class="nav-item"><b>Viewer</b></a>
        <a class="nav-item is-tab is-hidden-mobile" href="/viewer/">Home</a>
        <a class="nav-item is-tab is-hidden-mobile" href="/about">About</a>
    </div>

    <span id="mobile-menu-button" class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div id="mobile-menu" class="nav-right nav-menu">
        <a class="nav-item is-tab is-hidden-tablet" href="/viewer/">Home</a>
        <a class="nav-item is-tab is-hidden-tablet" href="/about">About</a>
        {{if .User.Admin}}<a class="nav-item is-tab" href="/admin">Admin</a>{{end}}
        <a class="nav-item is-tab" href="/user">{{.User.FirstName}}</a>
        <a id="logout-button" class="nav-item is-tab">Logout</a>
    </div>
</nav>
<br>

<!--content-->
<section id="site-content">
    <div class="container">
        <div id="notification" class="notification hidden">
        </div>
        {{block "content" .}}{{end}}
    </div>
</section>
</body>

<!--js-->
<script src="/static/script/util.js"></script>
<script src="/static/script/base.js"></script>
{{block "js" .}}{{end}}
</html>