.container {
    text-align: center;
    padding-top: 100px;
}

.label {
    font-weight: normal;
}

.button {
    margin-top: 10px;
}

form {
    display: inline-block;
    text-align: left;
    width: 300px;
}