/*content*/
#login-content {
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
}

/*notification*/
#notification {
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hidden {
    display: none;
}

/*login form*/
#login-form {
    display: inline-block;
    text-align: left;
    width: 300px;
}

#login-btn {
    margin-top: 0.5em;
}

.label {
    font-weight: normal;
}
