/*NEW*/
/*UTIL*/
.hidden {
    display: none;
}

/*IDS*/
#notification {
    width: 500px;
    margin: auto;
}

/*OLD*/
.nav-left {
    margin-left: 5%
}

.nav-right {
    margin-right: 1%;
}

.container {
    margin-right: 5%;
    margin-left: 5%;
}

form {
    max-width: 225px;
}

a {
    color: cornflowerblue;
}

.subtitle.subtitle.is-5 {
    margin-bottom: 4px;
}

.button {
    margin-top: 10px;
}
