{{define "title"}}About | Viewer{{end}}

{{define "content"}}
<h2 class="title is-2">About</h2>
<p>Viewer is a web interface for browsing a given directory of a server, which includes easy uploading and simple file
    management.</p>
{{end}}