<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{block "title" .}}{{end}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/static/srv/favicon-192.png">

    <!--css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
    <link rel="stylesheet" href="/static/style/style.css">
</head>

<body>
<!--nav bar-->
<nav class="nav has-shadow">
    <div class="nav-left">
        <a class="nav-item"><b>Viewer</b></a>
        <a class="nav-item is-tab is-hidden-mobile" href="/viewer/">Home</a>
        <a class="nav-item is-tab is-hidden-mobile" href="/about">About</a>
    </div>

    <span class="nav-toggle" id="burger-icon">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu" id="burger-menu">
        <a class="nav-item is-tab is-hidden-tablet" href="/viewer/">Home</a>
        <a class="nav-item is-tab is-hidden-tablet" href="/about">About</a>
        {{if .User.IsAdmin}}<a class="nav-item is-tab" href="/admin">Admin</a>{{end}}
        <a class="nav-item is-tab" href="/user">{{.User.FirstName}}</a>
        <a class="nav-item is-tab" href="/user/logout">Log out</a>
    </div>
</nav>
<br>

<!--content-->
<section>
    <div class="container" id="content">{{block "content" .}}{{end}}</div>
</section>
</body>

<!--js-->
<script src="/static/script/script.js"></script>
</html>