<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{block "title" .}}{{end}}</title>

    <!--css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
</head>

<body>
<!--nav bar-->
<nav class="nav has-shadow">
    <div class="nav-left">
        <a class="nav-item"><b>Viewer</b></a>
        <a class="nav-item is-tab is-hidden-mobile" href="/viewer/">Home</a>
        <a class="nav-item is-tab is-hidden-mobile" href="#">About</a>
    </div>

    <span class="nav-toggle" id="burger-icon">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu" id="burger-menu">
        <a class="nav-item is-tab is-hidden-tablet" href="/viewer/">Home</a>
        <a class="nav-item is-tab is-hidden-tablet" href="#">About</a>
        <a class="nav-item is-tab" href="#">Log out</a>
    </div>
</nav>
<br>

<!--content-->
<div class="container">{{block "content" .}}{{end}}</div>
</body>

<!--js-->
<script src="/static/script/script.js"></script>
</html>