<h2 class="title is-2">Files</h2>
<h4 class="subtitle is-4 is-spaced">/{{.CurrentDir}}</h4>

<ul>
    {{if not .Index -}}
    <li><a href="{{.PreviousURL}}">../</a></li>
    {{- end}}
    {{range .Entities}}
    <li><a href="{{.URL}}">{{.Name}}{{if .IsDir}}/{{end}}</a></li>
    {{end}}
</ul>

{{if not .Index -}}
<br>
<a href="/viewer/">Go To Directory Root</a>
{{- end}}