<h2 class="title is-2">Files</h2>
<h4 class="subtitle is-4">/{{.CurrentDir}}</h4>
<br>

<ul>
    {{if not .Index -}}
    <li><a href="{{.PreviousURL}}">../</a></li>
    {{- end}}
    {{range .Entities}}
    <li><a href="{{.URL}}">{{.Name}}{{if .IsDir}}/{{end}}</a></li>
    {{end}}
</ul>

<br>
{{if not .Index -}}
<a href="/viewer/">Go To Index</a>
{{- end}}