<ul>
    {{if not .Index -}}
    <li><a href="{{.PreviousURL}}">../</a></li>
    {{- end}}

    {{range .Entities}}
    <li><a href="{{.URL}}">{{.Name}}{{if .IsDir}}/{{end}}</a></li>
    {{end}}
</ul>

{{if not .Index -}}
<br>
<a href="/viewer/">Go To Index</a>
{{- end}}