<ul>
    {{if not .Index -}}
    <li><a href="{{.PreviousURL}}">../</a></li>
    {{- end}}

    {{if .IsEmpty -}}
    <li></li>
    <li>- Directory is empty -</li>
    {{- end}}

    {{range .Entities -}}
    {{if .IsDir -}}
    <li><a href="{{.URL}}">{{.Name}}/</a></li>
    {{else}}
    <li><a href="{{.URL}}">{{.Name}}</a></li>
    {{- end}}
    {{- end}}
</ul>

{{if not .Index -}}
<br>
<a href="/viewer/">Go To Index</a>
{{- end}}